.content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  background-color: var(--red);
}

.content p {
  margin: 0 5px 0 0;
  color: var(--white);
  font: 400 13px/15px var(--main-font);
}
.content button {
  padding: 0;
  border: none;
  outline: none;
  background: none;
  color: var(--white);
  font: 700 13px/15px var(--main-font);
  text-decoration: underline;
  cursor: pointer;
}