.list {
  list-style: none;
  overflow: auto;
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list::-webkit-scrollbar {
  display: none;
}

.list::before {
  content: '';
  display: block;
  width: 100%;
  height: 10px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  position: sticky;
  top: -1px;
  z-index: 2;
}

.list::after {
  content: '';
  display: block;
  width: 100%;
  height: 50px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  position: sticky;
  bottom: -1px;
  z-index: 2;
}

.item{
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.item::after{
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 14px;
  border-radius: 15px;
  background-color: var(--light-yellow);
}

.inner-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 20px;
  border: 1px solid var(--white);
  border-radius: 15px;
  background: linear-gradient(0deg, var(--white30), var(--white30)), #FFFFFF;
}

.paragraf {
  margin: 0 10px;
  width: 100%;
  font: 700 12px/15px var(--main-font);
  color: var(--dark);
}

.item--complete {
  opacity: 0.6;
}

.item--complete:after {
  background-color: var(--green);
}

.item--complete .paragraf{
  text-decoration: line-through;
}
