.background {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--dark-blue80);
}

.background-enter {
  background: transparent;
}

.background-enter-active {
  background: var(--dark-blue80);
  transition: background 200ms;
}

.background-exit {
  background: var(--dark-blue80);
}

.background-exit-active {
  background: transparent;
  transition: background 200ms;
}

.modal {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 500px;
}

.modal::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 24px;
  border-radius: 15px;
  background-color: var(--light-yellow);
}

.inner-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  padding: 19px 20px;
  border-radius: 20px 20px 0px 0px;
  background: var(--white);
}

@media (min-width: 769px) {
  .modal {
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto auto;
  }
  .inner-modal {
    border-radius: 20px;
  }

  .background-enter .modal {
    opacity: 0;
    bottom: -20px;
    transform: scale(0.8);
  }

  .background-enter-active .modal {
    opacity: 1;
    bottom: 0;
    transform: scale(1);
    transition: opacity 300ms, bottom 300ms, transform 200ms;
  }

  .background-enter-done .modal,
  .background-exit .modal {
    opacity: 1;
    bottom: 0;
    transform: scale(1);
  }

  .background-exit-active .modal {
    opacity: 0;
    bottom: -20px;
    transform: scale(0.8);
    transition: opacity 300ms, bottom 300ms, transform 200ms;
  }
}

@media (max-width: 768px) {
  .background-enter .modal {
    opacity: 0;
    bottom: -100%;
  }

  .background-enter-active .modal {
    opacity: 1;
    bottom: 0;
    transition: opacity 300ms, bottom 300ms;
  }

  .background-enter-done .modal,
  .background-exit .modal {
    opacity: 1;
    bottom: 0;
  }

  .background-exit-active .modal {
    opacity: 0;
    bottom: -100%;
    transition: opacity 300ms, bottom 300ms;
  }
}