.trigger-container{
  display: flex;
  margin: 16px 0 5px;
}

.trigger{
  min-width: 40px;
  min-height: 40px;
  border-radius: 15px;
  margin-left: 10px;
  border: 1px solid var(--light);
  background-color: transparent;
  transition: all 0.3s ease 0s;
}
.trigger--active{
  background-color: var(--light-green-blue30);
  border-color: var(--light-green-blue);
}
/* .trigger:hover{
  background-color: var(--light-green-blue30);
} */
.trigger--active .svg-trigger{
/* .trigger:hover .svg-trigger { */
  fill: var(--dark-green-blue60);
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 5px;
}

.button{
  transition: all .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  border: 1px solid var(--white);
  border-radius: 10px;
  background-color: transparent;
  color: var(--dark30);
  font: 400 12px/15px var(--main-font);
  cursor: pointer;
}

.button.active {
  border-color: var(--light-green-blue);
  background-color: var(--light-green-blue30);
  color: var(--dark-green-blue60);
}