:root{
  --main-font: 'Montserrat', Arial, Helvetica, sans-serif;
  --dark-blue: #183b59;
  --light-blue: #7E9ABF;
  --dark-green-blue: #03738B;
  --dark-green-blue40: rgba(3, 115, 140, 0.40);
  --dark-green-blue60: rgba(3, 115, 140, 0.60);
  --light-green-blue: #86DEF2;
  --light-green-blue30: rgba(134, 222, 242, 0.3);
  --light-green-blue80: rgba(134, 222, 242, 0.8);
  --yellow: #DAA404;
  --light-yellow: #F3C53C;
  --orange: #DA580D;
  --green: #56BF7C;
  --red: #F10545;
  --light: #D7E3F1;
  --white: #F2F2F2;
  --white30: rgba(242, 242, 242, 0.3);
  --dark: #0D0D0D;
  --dark30: rgba(13, 13, 13, 0.3);
}