.container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.svg{
  transition: all 0.3s ease 0s;
}

.svg--check,
.svg--uncheck{
  width: 15px;
  height: 15px;
}
.svg--check{
  fill: var(--green);
}
.svg--uncheck{
  fill: var(--light-yellow);
}

.svg--delete{
  width: 12px;
  height: 15px;
  fill: var(--red);
}

.svg--search{
  width: 20px;
  height: 20px;
  fill: var(--light-yellow);
}

.svg--filter{
  width: 15px;
  height: 10px;
  fill: var(--dark-blue);
}
