.create {
  box-shadow: 0px 0px 25px var(--light-green-blue);
  text-transform: uppercase;
  transition: all .3s ease 0s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 280px;
  height: 45px;
  padding: 15px;
  margin: 0 auto 0;
  border: none;
  border-radius: 1000px;
  background: var(--light-green-blue);
  color: var(--dark-blue);
  font: 700 12px/15px var(--main-font);
  cursor: pointer;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

@media (min-width: 769px) {
  .create:hover {
    background: linear-gradient(180deg, var(--light-green-blue) 0%, rgba(3, 115, 139, 0.2) 100%), var(--light-green-blue);
  }
}

@media (max-width: 768px) {
  .create {
    z-index: 2;
    width: 100%;
    max-width: 500px;
  }
}

