form {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 500px;
}

@media (min-width: 769px) {
  form {
    top: 0;
    right: 0;
    /* bottom: 0; */
    left: 0;
    margin: auto auto;
  }
}

form::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 24px;
  border-radius: 15px;
  background-color: var(--light-yellow);
}

.inner-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  padding: 19px 20px;
  border-radius: 20px 20px 0px 0px;
  background: var(--white);
}

@media (min-width: 769px) {
  .inner-container {
    border-radius: 20px;
  }
}